@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  height: 100%;
  position: relative;

  background-color: #fff;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: var(--font-brand);
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  bottom: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}

.main {
  bottom: 3.5rem;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  width: 62.5%;
}

.output {
  bottom: 3.5rem;
  position: absolute;
  right: 0;
  top: 0;
  width: 37.5%;

  background-color: var(--color-interface-grey);
  border-left: 1px solid var(--color-interface-grey-dark);
}

textarea {
  height: 100%;
  width: 100%;

  background-color: transparent;
  border: 0;
  resize: none;

  font-family: var(--font-brand);
}

textarea:focus {
  outline: 2px solid #000;
}

hr {
  border-color: var(--color-interface-grey-dark);
}

table {
  table-layout: fixed;
}

th, td {
  border-color: var(--color-interface-grey-dark);
}

label {
  cursor: pointer;
  vertical-align: middle;
}

input {
  vertical-align: middle;

  border: 1px solid var(--color-interface-grey-dark);

  font-family: var(--font-brand);
}

input:focus {
  outline: 2px solid #000;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;

  cursor: pointer;
}

select {
  width: 85%;
}

a,
a:link,
a:visited {
  border-bottom: 0.1em solid var(--color-blue-light);

  color: var(--color-blue);
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  border-bottom-color: var(--color-blue);
}

.desc {
  color: #666;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 0.5em 1em;

  background-color: var(--color-interface-grey);
  border: 1px solid var(--color-interface-grey-dark);
  border-radius: 6px;
  cursor: pointer;

  color: #000;
  font: bold 100%/1.5 var(--font-brand);
  text-decoration: none;
}

.btn::before {
  color: #000;
}

.btn:hover {
  background-color: var(--color-blue);
  border-color: var(--color-navy);

  color: #fff;
}

.btn:focus {
  outline: 2px solid #000;
}

.btn:hover::before {
  color: #fff;
}
