.common-bar {
  height: 3.5rem;

  background-color: #ddd;
  border-top: 1px solid #999;
}

.title {
  color: #666;
}

.title__subhead {
  font-weight: normal;
}

.social a {
  border: 0;

  color: #666;
}

.social a:hover {
  color: var(--color-blue);
}
