.icon {
  display: inline-block;

  background: transparent none no-repeat center center;
  background-size: contain;

  vertical-align: middle;
}

.i--28 {
  height: 28px;
  width: 28px;
}

.i--32 {
  height: 32px;
  width: 32px;
}

.icon-label {
  vertical-align: middle;
}
