---
---
<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Modulifier—a common pattern CSS code generating tool</title>
  <meta name="description" content="Modulifier is a tool that generates CSS for a bunch of common patterns and repeated code on websites.">
  <meta name="viewport" content="width=1200">
  <style>
    {% include modulifier.min.css %}
  </style>
</head>
<body>

{% include common-bar.html %}

<main class="main island-1-2" role="main">
  {% include interface-form.html %}
  <button class="btn" id="select-all">Select all</button>
  <button class="btn" id="select-defaults">Select defaults</button>
</main>

<div class="output">
  <textarea id="output" class="gutter-1-2" spellcheck="false"></textarea>
</div>

{% include help-dialog.html %}
{% include templates.html %}

<script>
  {% include modulifier.min.js %}
</script>

</body>
</html>
