<div class="help-dialog" data-state="open">
  <aside class="help" role="complementary">
    <button class="help__close">×</button>

    <h2 class="mega help-color">Help &amp; Tutorials</h2>
    <p class="micro"><i>Modulifier</i> generates a series of code for common CSS patterns. Simplifying the process of making &amp; maintaining a responsive websites.</p>

    <div class="help__buttons push">
      <a class="btn btn-icon btn-videos help-btn" href="http://learn-the-web.algonquindesign.ca/topics/modules/" rel="external">
        <svg class="icon i--32" viewBox="0 0 256 256"><path d="M250.03 75.92s-2.42-17.09-9.86-24.62c-9.43-9.88-20-9.93-24.85-10.51-34.71-2.51-86.76-2.51-86.76-2.51h-.11s-52.06 0-86.76 2.51c-4.85.58-15.42.63-24.85 10.51-7.44 7.53-9.86 24.62-9.86 24.62S4.5 95.99 4.5 116.06v18.82c0 20.07 2.48 40.14 2.48 40.14s2.42 17.09 9.86 24.62c9.43 9.88 21.83 9.57 27.35 10.6 19.84 1.9 84.32 2.49 84.32 2.49s52.11-.08 86.82-2.59c4.85-.58 15.42-.63 24.85-10.51 7.44-7.53 9.86-24.62 9.86-24.62s2.48-20.07 2.48-40.14v-18.82c-.02-20.06-2.49-40.13-2.49-40.13zM102.9 157.68L102.89 88l67.01 34.96-67 34.72z"/></svg>
        <span class="icon-label">Tutorials &amp; videos</span>
      </a>
      <a class="btn btn-icon btn-tutorials help-btn" href="http://learn-the-web.algonquindesign.ca/topics/modulifier-cheat-sheet/" rel="external">
        <svg class="icon i--32" viewBox="0 0 256 256"><path d="M87.78 85.87h82.44v15.97H87.78zm0 23.06h82.44v15.97H87.78zm0 23.06h53.28v15.98H87.78zm102.61 83.48H67.61c-10.09 0-18.31-8.21-18.31-18.31V52.83c0-10.09 8.21-18.31 18.31-18.31h122.78c10.09 0 18.3 8.21 18.3 18.31v144.34c0 10.1-8.21 18.3-18.3 18.3zM69.54 195.25h118.93V54.75H69.54v140.5z"/></svg>
        <span class="icon-label">Cheat sheet</span>
      </a>
    </div>

    <hr>

    <h3 class="micro push-0">Companion apps</h3>

    <ul class="micro list-group clearfix">
      <li class="left"><a class="help-link" href="http://gridifier.web-dev.tools" rel="external"><strong>Gridifier »</strong></a></li>
      <li class="right"><a class="help-link" href="http://typografier.web-dev.tools" rel="external"><strong>Typografier »</strong></a></li>
    </ul>

    <hr>

    <div class="clearfix">
      <div class="left">
        <h3 class="micro push-0">Similar Apps</h3>
        <ul class="micro list-group push-0">
        </ul>
      </div>

      <div class="right">
        <h3 class="micro push-0">Inspiration</h3>
        <ul class="micro list-group push-0">
          <li><a class="help-link" href="http://purecss.io/" rel="external">YUI Pure</a></li>
          <li><a class="help-link" href="http://getbootstrap.com/" rel="external">Bootstrap</a></li>
          <li><a class="help-link" href="http://foundation.zurb.com/" rel="external">Foundation</a></li>
        </ul>
      </div>
    </div>

  </aside>
</div>
