<script type="text/template" data-template="css-accessibility">
a:hover, a:active {
  outline: none;
}

a:focus,
[tabindex="0"]:focus,
input:focus,
textarea:focus,
button:focus,
select:focus {
  outline: 3px solid #000;
}

a:focus, [tabindex="0"]:focus {
  outline-offset: 3px;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links > li::before {
  content: none; /* Remove the bullets if nice lists is selected */
}

.skip-links a,
.skip-links button {
  padding: .5em .75em;
  position: absolute;
  top: -10em;
  z-index: 10000; /* To make sure they're always on top */
  background-color: #000;
  border: 0;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  text-decoration: none;
}

.skip-links a:focus,
.skip-links button:focus {
  outline-offset: 3px;
  top: 0;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}
</script>
