<script type="text/template" data-template="css-buttons">
.link-box {
  display: block;
  text-decoration: none;
}

button,
.btn {
  cursor: pointer;
  display: inline-block;
  margin: 0;
  overflow: visible;
  padding: .375em .75em .42em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #333;
  border-radius: 4px;
  border: 3px solid #333;
  color: #fff;
  font: inherit;
  text-decoration: none;
  text-transform: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:focus,
button:hover,
.btn:focus,
.btn:hover {
  background-color: #000;
  border-color: #000;
  color: #fff;
}

button[disabled] {
  cursor: default;
}

.btn-light, .btn--light {
  background-color: #e2e2e2;
  border-color: #e2e2e2;
  color: #000;
}

.btn-light:focus,
.btn-light:hover,
.btn--light:focus,
.btn--light:hover {
  background-color: #666;
  border-color: #666;
  color: #fff;
}

.btn-ghost,
.btn--ghost {
  background-color: transparent;
  border-color: #333;
  color: #000;
}

.btn-ghost:focus,
.btn-ghost:hover,
.btn--ghost:focus,
.btn--ghost:hover {
  background-color: #e2e2e2;
  border-color: #000;
  color: #000;
}

.btn-link {
  display: inline;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  border: 0;
  color: inherit;
}

.btn-link:focus,
.btn-link:hover {
  background-color: transparent;
  color: inherit;
}
</script>
