<script type="text/template" data-template="css-buttons">
.link-box {
  display: block;
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 0.375em 0.75em 0.42em;
  background-color: #333;
  border-radius: 8px;
  border: 0;
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  background-color: #000;
  color: #fff;
}

.btn--light {
  background-color: #e2e2e2;
  color: #000;
}

.btn--light:hover {
  background-color: #666;
  color: #fff;
}

.btn--ghost {
  background-color: transparent;
  border: 3px solid #333;
  color: #000;
}

.btn--ghost:hover {
  border-color: #000;
}
</script>
