<script type="text/template" data-template="css-embed">
.embed {
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.embed--1by1 {
  padding-top: 100%; /* Square */
}

.embed--4by3 {
  padding-top: 75%; /* Traditional TV/computer screens */
}

.embed--iso216 {
  padding-top: 70.92%; /* A-standard paper sizes */
}

.embed--3by2 {
  padding-top: 66.6%; /* Classic 35 mm film, most digital photos, landscape */
}

.embed--2by3 {
  padding-top: 150%; /* Classic 35 mm film, most digital photos, portrait */
}

.embed--golden {
  padding-top: 61.8%; /* The Golden Ratio */
}

.embed--16by9 {
  padding-top: 56.25%; /* HD TV */
}

.embed--185by100 {
  padding-top: 54.05%; /* Common widescreen cinema */
}

.embed--24by10 {
  padding-top: 41.667%; /* Widescreen cinema: 2.4:1 */;
}

.embed--3by1 {
  padding-top: 33.3333%; /* Panorama photos */
}

.embed--4by1 {
  padding-top: 25%; /* Polyvision */
}

.embed__item {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
</script>
