<script type="text/template" data-template="css-forms">
/* stylelint-disable no-descending-specificity */

/*
 * (c) Nicolas Gallagher and Jonathan Neal of Normalize.css || MIT License
 *     https://necolas.github.io/normalize.css/
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

[type="checkbox"],
[type="radio"] {
  opacity: 0;
  position: absolute;
  height: 1px;
  width: 1px;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  padding-left: 0;
  padding-right: 0;

  border: 0;
  border-top: 2px solid #666;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0 .3em 0 0;
  white-space: normal;

  border: 0;

  font-weight: bold;
}

optgroup {
  font-weight: bold;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* End Normalize.css code */

label,
.label-block {
  display: block;
  cursor: pointer;
}

[type="checkbox"] + label,
[type="radio"] + label,
.label-inline {
  display: inline-block;
}

input:not([type]),
[type="text"],
[type="number"],
[type="search"],
[type="url"],
[type="email"],
[type="password"],
[type="tel"],
[type="datetime-local"],
[type="month"],
[type="week"],
[type="date"],
[type="time"],
[type="range"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

input,
textarea {
  display: block;
  width: 100%;

  background-color: #fff;
  border: 2px solid #666;
  border-radius: 0;
}

label {
  vertical-align: middle;
}

textarea {
  max-width: 100%;
  min-height: 4em;
  overflow: auto;
}

[type="color"] {
  display: inline-block;
  width: 2em;
}

select {
  display: block;
  width: 100%;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Cpath fill='none' stroke='%23000' stroke-miterlimit='10' stroke-width='70' d='M36.3 82.1l91.9 91.8 91.5-91.8'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - .4em) center;
  background-size: 18px auto;
  background-color: #fff;
  border: 2px solid #666;
  border-radius: 0;
}

[type="checkbox"] + label::before {
  content: " ";
  display: inline-block;
  height: 1.8em;
  margin-right: .3em;
  position: relative;
  vertical-align: middle;
  top: -.1em;
  width: 1.8em;

  background-color: #fff;
  background-size: cover;
  border: 2px solid #666;

  line-height: inherit;
}

[type="checkbox"]:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Cpath fill='none' stroke='%23000' stroke-miterlimit='10' stroke-width='50' d='M49.9 130.1l50.8 50.7L206.1 75.2'/%3E%3C/svg%3E");
}

[type="checkbox"]:focus + label::before {
  outline: 3px solid #000;
  z-index: 1000;
}

[type="radio"] + label::before {
  content: " ";
  display: inline-block;
  height: 1.8em;
  margin-right: .3em;
  position: relative;
  vertical-align: middle;
  top: -.1em;
  width: 1.8em;

  background-color: #fff;
  background-size: cover;
  border: 2px solid #666;
  border-radius: 50%;

  line-height: inherit;
}

[type="radio"]:checked + label::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='256' height='256' viewBox='0 0 256 256'%3E%3Ccircle cx='128' cy='128' r='70.4'/%3E%3C/svg%3E");
}

[type="radio"]:focus + label::before,
[type="radio"] + label:focus::before {
  box-shadow: 0 0 0 3px #000;
  z-index: 1000;
}

[type="range"] {
  border: 0;
  background-color: #fff;
}

[type="range"]::-webkit-slider-runnable-track {
  height: 6px;

  -webkit-appearance: none;
  appearance: none;
  background-color: #ccc;
  border: 0;
  border-radius: 3px;
}

[type="range"]:active::-webkit-slider-runnable-track {
  background-color: #ccc;
}

[type="range"]::-moz-range-track {
  height: 6px;

  -moz-appearance: none;
  appearance: none;
  background-color: #ccc;
  border: 0;
  border-radius: 3px;
}

[type="range"]:active::-moz-range-track {
  background-color: #ccc;
}

[type="range"]::-ms-track {
  height: 6px;

  -ms-appearance: none;
  appearance: none;
  background-color: #ccc;
  border: 0;
  border-radius: 3px;
}

[type="range"]:active::-ms-track {
  background-color: #ccc;
}

[type="range"]::-webkit-slider-thumb {
  margin-top: -4px;
  height: 16px;
  width: 16px;

  -webkit-appearance: none;
  appearance: none;
  background-color: #000;
  border: none;
  border-radius: 50%;
}

[type="range"]:hover::-webkit-slider-thumb {
  background-color: #000;
}

[type="range"]:active::-webkit-slider-thumb {
  background-color: #000;
}

[type="range"]::-moz-range-thumb {
  margin-top: -4px;
  height: 16px;
  width: 16px;

  -webkit-appearance: none;
  appearance: none;
  background-color: #000;
  border: none;
  border-radius: 50%;
}

[type="range"]:hover::-moz-range-thumb {
  background-color: #000;
}

[type="range"]:active::-moz-range-thumb {
  background-color: #000;
}

[type="range"]::-ms-thumb {
  margin-top: -4px;
  height: 16px;
  width: 16px;

  -webkit-appearance: none;
  appearance: none;
  background-color: #000;
  border: none;
  border-radius: 50%;
}

[type="range"]:hover::-ms-thumb {
  background-color: #000;
}

[type="range"]:active::-ms-thumb {
  background-color: #000;
}

[type="checkbox"].hide-custom-input + label::before,
[type="checkbox"] + .hide-custom-input::before,
[type="radio"].hide-custom-input + label::before,
[type="radio"] + .hide-custom-input::before {
  content: none;
  display: none;
}

/* stylelint-enable */
</script>
