<script type="text/template" data-template="css-hidden">
[hidden], .hidden {
  /* stylelint-disable declaration-no-important */
  display: none !important;
  visibility: hidden !important;
  /* stylelint-enable */
}

.visually-hidden {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  border: 0;
  clip: rect(0 0 0 0);
}

.visually-hidden.focusable:active, .visually-hidden.focusable:focus {
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  clip: auto;
}

.invisible {
  visibility: hidden;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scrollable {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
</script>
