<script type="text/template" data-template="css-icons">
.icon {
  display: inline-block;
  position: relative;
  background: transparent none no-repeat center center;
  background-size: contain;
  vertical-align: middle;
}

.i-16, .i--16 {
  height: 16px;
  width: 16px;
}

.i-18, .i--18 {
  height: 18px;
  width: 18px;
}

.i-24, .i--24 {
  height: 24px;
  width: 24px;
}

.i-32, .i--32 {
  height: 32px;
  width: 32px;
}

.i-48, .i--48 {
  height: 48px;
  width: 48px;
}

.i-64, .i--64 {
  height: 64px;
  width: 64px;
}

.icon svg {
  left: 0;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.icon-label {
  vertical-align: middle;
}

.icon-link, .icon-link:hover {
  text-decoration: none;
}
</script>
