<script type="text/template" data-template="css-positioning">
.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center-text,
.center-flow {
  text-align: center;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.no-auto-margins,
.not-centered {
  /* stylelint-disable declaration-no-important */
  margin-left: 0 !important;
  margin-right: 0 !important;
  /* stylelint-enable */
}

.center-content,
.center-content-vertical,
.center-contents,
.center-contents-vertical {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-flex-direction: column wrap;
  -ms-flex-direction: column wrap;
  flex-flow: column wrap;
}

.center-content-start,
.center-content-vertical-start,
.center-contents-start,
.center-contents-vertical-start {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column wrap;
  -ms-flex-direction: column wrap;
  flex-flow: column wrap;
}

.center-content-horizontal,
.center-contents-horizontal {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-flex-direction: row wrap;
  -ms-flex-direction: row wrap;
  flex-flow: row wrap;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block, .ib {
  display: inline-block;
}

.valign-top {
  vertical-align: top;
}

.valign-bottom {
  vertical-align: bottom;
}

.valign-middle {
  vertical-align: middle;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

[class*="pin-"],
.absolute {
  position: absolute;
}

.static {
  position: static;
}

.zindex-1 {
  z-index: 1;
}

.zindex-2 {
  z-index: 2;
}

.zindex-3 {
  z-index: 3;
}

.zindex-1000 {
  z-index: 1000;
}

.pin-top-left,
.pin-left-top,
.pin-tl,
.pin-lt {
  top: 0;
  left: 0;
}

.pin-top-right,
.pin-right-top,
.pin-tr,
.pin-rt {
  top: 0;
  right: 0;
}

.pin-bottom-left,
.pin-left-bottom,
.pin-bl,
.pin-lb {
  bottom: 0;
  left: 0;
}

.pin-bottom-right,
.pin-right-bottom,
.pin-br,
.pin-rb {
  bottom: 0;
  right: 0;
}

.pin-top-center,
.pin-center-top,
.pin-tc,
.pin-ct {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.pin-bottom-center,
.pin-center-bottom,
.pin-bc,
.pin-cb {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.pin-center-left,
.pin-left-center,
.pin-cl,
.pin-lc {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.pin-center-right,
.pin-right-center,
.pin-cr,
.pin-rc {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.pin-center, .pin-c {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.width-quarter, .w-1-4 {
  width: 25%;
}

.width-half, .w-1-2 {
  width: 50%;
}

.width-full, .w-1 {
  width: 100%;
}

.height-quarter, .h-1-4 {
  height: 25%;
}

.height-half, .h-1-2 {
  height: 50%;
}

.height-full, .h-1 {
  height: 100%;
}

.height-win-quarter, .h-w-1-4 {
  min-height: 25vh;
}

.height-win-half, .h-w-1-2 {
  min-height: 50vh;
}

.height-win-full, .h-w-1 {
  min-height: 100vh;
}
</script>
