<script type="text/template" data-template="css-positioning">
.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block, .ib {
  display: inline-block;
}

.valign-top {
  vertical-align: top;
}

.valign-bottom {
  vertical-align: bottom;
}

.valign-middle {
  vertical-align: middle;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.static {
  position: static;
}

.zindex-1 {
  z-index: 1;
}

.zindex-2 {
  z-index: 2;
}

.zindex-3 {
  z-index: 3;
}

.pin-top-right {
  top: 0;
  right: 0;
}

.pin-bottom-right {
  bottom: 0;
  right: 0;
}

.width-half, .w-1-2 {
  width: 50%;
}

.width-full, .w-1 {
  width: 100%;
}
</script>
