<script type="text/template" data-template="css-print">
.print-only {
  display: none;
  visibility: hidden;
}

.page-break-before {
  page-break-before: always;
}

.page-break-after {
  page-break-after: always;
}

.no-page-break-inside {
  page-break-inside: avoid;
}

@media print {

  /* stylelint-disable declaration-no-important */

  .no-print {
    display: none !important;
    visibility: hidden !important;
  }

  .print-only,
  .force-print {
    display: block !important;
    visibility: visible !important;
  }

  /* stylelint-enable */

  .visually-hidden.force-print {
    height: auto;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: static;
    width: auto;
    border: 0;
    clip: unset;
  }

  /*
   * (c) HTML5 Boilerplate || MIT License
   *     https://html5boilerplate.com/
   */

  /* stylelint-disable declaration-no-important */

  *, *::before, *::after, *::first-letter, *::first-line {
    background: none transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* stylelint-enable */

  a, a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after,
  a.href-no-print::after {
    content: "";
  }

  pre, blockquote {
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  p, h1, h2, h3, h4, h5, h6 {
    orphans: 3;
    widows: 3;
  }

  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }

  /* End HTML5 Boilerplate code */
}
</script>
